body {
    height: 100%;
    width: 100%;
    background-color: gray;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
    border: 2px solid black;
}

.info {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    margin: 0;
}

.image > img {
    width: 200px;
}

.brief_info {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.table {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 50px;
}

.table > table {
    border: 2px solid black;
    border-collapse: collapse;
}

.table caption {
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
}

.table > table  tr {
    align: center;
}

.table td {
    border: 2px solid black;
}

.enter {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 30px;
}

.enter_phone {
    margin-left: 1%;
}

.enter_name {
    margin-left: 10%;
}

.show_info {
    background-color: silver;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 40%;
    text-align: center;
}

.show_info > #hide {
    display: none;
}

.show_info.show_info_pressed {
    border: 2px dashed black;
    background-color: darkgray;
}

.show_info_pressed > #show {
    display: none;
}

.show_info_pressed > #hide {
    display: block;
}

.additional_info {
    display: none;
}

.additional_info_show {
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    font-size: 20px;
}

.additional_info_show > h4 {
    text-align: center;
}

.linux_internet {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.linux, .internet, .database, .python, .php, .frontend {
    padding: 5px;
}

.linux {
    background-color: silver;
    width: 100%;
}

.internet {
    background-color: gainsboro;
}

.database {
    background-color: darkgray;
}

.backend {
    display: flex;
    flex-direction: row;
}

.python {
    background-color: gainsboro;
    width: 100%;
}

.php {
    background-color: silver;
    width: 100%;
}

.frontend {
    background-color: darkgray;
}